.details-section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  margin: 2px 10px;
}

.details-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  margin: 2px 10px;
  justify-content: space-around;
}

.picture {
  grid-area: 2 / 1 / span 1 / span 3;
}
